@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PurchaseViewModel
@{
    Layout = "_LayoutPOS";
}
<div class="row bg-light pt-2">
    <div class="col-3"></div>
    <div class="col-5  px-5">
        <ul class="list-group list-group-horizontal list-unstyled">
            <li class="list-group-item border-0 bg-transparent">
                <a class="text-decoration-none text-black" href="#"><i class="bi-list text-primary"></i>Sales List</a>
            </li>
            <li class="list-group-item border-0 bg-transparent">
                <a class="text-decoration-none text-black" href="#"><i class="bi-receipt text-primary"></i>New Invoice</a>
            </li>
            <li class="list-group-item border-0 bg-transparent">
                <a class="text-decoration-none text-black" href="#"><i class="bi-box text-primary"></i>Product List</a>
            </li>
        </ul>
    </div>
    <div class="col-4">

    </div>
</div>

<div class="row flex-nowrap pt-5">
    <div class="col-7 bg-light mx-5 p-4">
        <div class="col-12">
            <h4 class="text-dark"><i class="bi-cart text-primary"></i>Sales Invoice</h4>
            <div class="row flex-nowrap">
                <div class="col py-3" style="height:25rem;overflow:auto">
                    <div class="row flex-nowrap d-flex justify-content-center m-3">
                        <table class="table table-responsive table-bordered" id="purchase-table">
                            <thead class="table-primary position-sticky" style="top:-20px;z-index:1;">
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>SubTotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="card mx-5 px-5 pt-2 pb-4">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <h2 class="text-dark">Total: <span id="total-value">0</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 p-5">
                        <button class="btn btn-danger form-control"><i class="bi bi-pause"></i> Hold</button>
                    </div>
                    <div class="col-4 p-5">
                        <button class="btn btn-primary form-control"><i class="bi bi-credit-card"></i> Card</button>
                    </div>
                    <div class="col-4 p-5">
                        <button disabled class="btn btn-success form-control" id="paymentButton" data-bs-toggle="modal" data-bs-target="#purchase-payment-modal"><i class="bi bi-cash"></i> Cash</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 bg-light flex-grow-1 me-5 p-3  overflow-auto" style="height:46rem">
        <div class="row mb-3 d-flex justify-content-end">
            <label class="col-md-2 col-form-label text-nowrap text-end" for="product-search">Search:</label>
            <div class="col-md-6">
                <input class="form-control" name="product-search" id="product-search" placeholder="search..." />
            </div>
        </div>
       <div class="d-flex flex-wrap align-items-center">
           @foreach(var product in Model.Products)
            {
                <button class="btn btn-light card col-4  text-center text-nowrap align-items-center" id="@product.Id" onclick="Sales.OnAddProduct('@product.Id')">
                    <img src="/img/product.jpg" width="100" height="100"/>
                    @product.Val
                </button>
            }
       </div>
    </div>
</div>

<div id="purchase-modal-container">
    <div class="modal fade" id="purchase-payment-modal" tabindex="-1" aria-labelledby="purchasePaymentModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchasePaymentModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to continue ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    <button type="submit" class="btn btn-primary" aria-label="Save" onclick="Sales.Payment()">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Sales/Sales.js"></script>
}