@model ReceivedProductViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="mb-5">Received Product</h1>

<div class="container-fluid">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#receiveproduct-modal">
        Receive Product
    </button>
    <div id="receiveproduct-table-container">
      @Html.Partial("ReceivedProductTable", Model.ReceivedProduct)
    </div>
</div>


<div id="received-product-modal-container">
    <form asp-controller="ReceivedProduct" 
          asp-action="SaveReceivedProduct" 
          enctype="multipart/form-data" 
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-loading="#loading"
          data-ajax-mode="replace"
          data-ajax-update="#receiveproduct-table-container"
          data-ajax-success="ReceivedProduct.OnSuccess"
          data-ajax-failure="ReceivedProduct.OnFailure">
        <div class="modal fade" id="receiveproduct-modal" tabindex="-1" aria-labelledby="receivedProductModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="receivedProductModal">Received Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       @Html.Partial("ReceivedProductModalContent")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="submit" class="btn btn-primary" aria-label="Save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script src="~/js/ReceivedProduct/ReceivedProductIndex.js"></script>

}