@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row m-auto">
    <div class="card col-3">
        <div class="row g-0">
            <div class="col-md-4 my-auto">
                <img src="~/img/product.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h1>@Model.ProductCount</h1>
                    <h3 class="card-title">Products</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-3">
        <div class="row g-0">
            <div class="col-md-4 my-auto">
                <img src="~/img/sales.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h1>@Model.SalesCount</h1>
                    <h3 class="card-title">Sales</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-3">
        <div class="row g-0">
            <div class="col-md-4 my-auto">
                <img src="~/img/user.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h1>@Model.ReceivedProductCount</h1>
                    <h3 class="card-title">Received Products</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-3">
        <div class="row g-0">
            <div class="col-md-4 my-auto">
                <img src="~/img/categories.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h1>@Model.StockCount</h1>
                    <h3 class="card-title">Stocks</h3>
                </div>
            </div>
        </div>
    </div>
</div>
