@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .icons-big-size{
        font-size:50px;
    }
</style>

<div class="card m-3" id="summary-card">
    <h5 class="card-header">
        Summary
    </h5>
    <div class="card-body">
        <div class="row">
           @await Html.PartialAsync("_SummaryCard", new SummaryCardViewModel(){
               Title = "Total Product",
               Value = Model.ProductCount
           })

            @await Html.PartialAsync("_SummaryCard", new SummaryCardViewModel()
           {
               Title = "Low Stock Products",
               Value = 0
           })
            @await Html.PartialAsync("_SummaryCard", new SummaryCardViewModel()
           {
               Title = "Out of Stocks",
               Value = 0
           })
        </div>
    </div>
</div>

<div class="card m-3" id="sales-card">
    <h5 class="card-header">
        Top 5 Purchased Product
    </h5>
    <div class="card-body">
        <partial name="_SalesTable"/>
    </div>
</div>

