@model ProductIndexViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="ErrorDisplay" class="alert alert-danger d-flex align-items-center position-fixed top-0 end-0 p-3 m-3 fade" role="alert" style="display:none">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        Failed Creating Product
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<h1 class="mb-5">Products</h1>
<span id="loading" style="display:none;"> <i class="fas fa-spinner fa-spin"></i></span>
@if(Model.Errors != null)
{
    <div class="alert alert-danger" role="alert">
        <h3>Errors</h3>
        <ul>
            @foreach(var error in Model.Errors)
            {

                <li>@error</li>
            }
        </ul>
    </div>
}


<div class="container-fluid">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#product-modal">
        Add Product
    </button>
    @if(Model.ProductModel.Any())
    {
       <div id="product-table-container">
           @Html.Partial("ProductTable",Model.ProductModel)
       </div>
    }
    else
    {
        <h5>No Data Found</h5>
    }
</div>

<div>
    <partial name="_ProductModalForm" />
</div>

<div id="confirm-delete-container">
    <form method="post" 
          enctype="multipart/form-data" 
          asp-controller="Product" 
          asp-action="Delete"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-loading="#loading"
          data-ajax-mode="replace"
          data-ajax-update="#product-table-container"
          data-ajax-success="Product.DeleteOnSuccess"
          data-ajax-failure="Product.Onfailure">
        <div class="modal fade" id="product-modal-delete" tabindex="-1" aria-labelledby="productModalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalDeleteLabel">Add Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="product-modal-delete-body">
                        <div class="container-fluid">
                            <div class="row">
                                <h4 class="col-md-12 col-form-label fw-bold">Confirm Delete: Copy and Paste the Product Name Below <span class="text-danger" id="productName-value"></span></h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control" id="productName" name="productName" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    <script src="~/js/Product/ProductIndex.js"></script>
}
